
<%= "Logged in as #{current_user.fname}"%><br><br>

<h2>Friends</h2>

<% if @friends.any? %>
  <ul>
    <% @friends.each do |friend| %>
      <li>
        <%if friend.profile_picture.attached? %>
          <%= image_tag friend.profile_picture, class: "avatar" %>
        <%end%>
        <%= link_to "#{friend.fname}", user_path(friend), style: 'color:#C71585'%><br>
        <%= link_to "Start Conversation with #{friend.fname}", conversations_path(receiver_id: friend.id), method: :post , remote: true, style: 'color:#2F4F4F'%>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You don't have any friends yet.</p>
<% end %>



<h2>Your Conversations</h2>

<% if @conversations.any? %>
  <ul>
    <% @conversations.each do |conversation| %>
      <li>
        <%= link_to "#{conversation.sender.fname} & #{conversation.receiver.fname}", conversation_messages_path(conversation), style: 'color:#4169E1' %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You don't have any conversations yet.</p>
  
<% end %>