<div class="show-posts">
    <% @posts.each do |post| %>
      <li>
        <p>
          <%= "=>> #{post.user.fname}"%><br>
          <%= post.body%><br>
          <% if user_signed_in? && current_user.id==post.user.id%> 
            <%= link_to 'Delete', post_path(post.id), method: :delete, data: {confirm: "Do you want to delete this post"},style: 'color:#E34234' %><br>
          <%end%> 
          <br>
          <div class="show-likes">
            Likes: <%= Like.where(likable_id: post.id, likable_type: "Post").count %><br>
              <% if user_signed_in? && current_user.id != post.user.id %>
                <% like = Like.find_by(user_id: current_user.id, likable_type: "Post", likable_id: post.id) %>
                <%if like.present?%>
                  <%= button_to post_like_path(like.likable_id, like.id, likable_type: "Post"), method: :delete, remote: true, style: 'color:#E34234' do%>
                    <span>&#128078;</span>
                  <%end%>  
                <%else%>
                  <%= button_to post_likes_path(post), method: :post,remote: true, style: 'color:#2E8B57' do%>
                    <span>&#128077;</span>
                  <%end%>  
                <%end%>
              <% end %>
          <%= link_to 'Comments', post, style: 'color:#A0522D'%>
          </div>  
        </p> 
      </li>
    <% end %>
  </div>