

<div class="friendship-requests">
  <h2>Friendship Requests</h2>

  <% if @pending_friendship_requests_received.any? %>
    <h3>Pending Requests</h3>

    <ul>
      <% @pending_friendship_requests_received.each do |request| %>
        <li>
          <%= link_to request.sender.fname, request.sender %>
          <%= link_to "Accept", accept_friendship_path(request), method: :patch %>
          <%= link_to "Decline", decline_friendship_path(request), method: :delete %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if @accepted_friendship_requests_received.any? %>
    <h3>Accepted Requests</h3>

    <ul>
      <% @accepted_friendship_requests_received.each do |request| %>
        <li>
          <%= link_to request.sender.name, request.sender %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if @declined_friendship_requests_received.any? %>
    <h3>Declined Requests</h3>

    <ul>
      <% @declined_friendship_requests_received.each do |request| %>
        <li>
          <%= link_to request.sender.name, request.sender %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>



<% unless current_user == @user %>
  <% if current_user.pending_friends.include?(@user) %>
    <%= link_to "Cancel Request", friendship_path(current_user.friendship_with(@user)), method: :delete, class: "btn btn-danger" %>
  <% elsif current_user.friend_with?(@user) %>
    <%= link_to "Unfriend", friendship_path(current_user.friendship_with(@user)), method: :delete, class: "btn btn-danger" %>
  <% elsif current_user.friendship_requests.include?(@user) %>
    <%= link_to "Accept Request", accept_request_friendship_path(current_user.friendship_with(@user)), method: :post, class: "btn btn-success" %>
    <%= link_to "Decline Request", decline_request_friendship_path(current_user.friendship_with(@user)), method: :post, class: "btn btn-danger" %>
  <% else %>
    <%= form_for(current_user.friendships.build(friend_id: @user.id)) do |f| %>
      <%= f.submit "Add Friend", class: "btn btn-primary" %>
    <% end %>
  <% end %>
<% end %>